:host {
    width: 100%;
    .dropdown {
        color: var(--menu-text-color);
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-bottom: none;
        .icon {
            color: var(--menu-text-color);
            margin-right: 16px;
            &.is-collapsed {
                margin-right: 0;
            }
        }
    }
}

::ng-deep {
    .about-modal {
        .ant-modal-content {
            padding: 56px 64px;
        }
        .img {
            width: 180px;
            margin: 20px 0;
        }
        .title {
        }
        .copyright {
            text-align: start;
        }
        .ant-modal-header {
            padding: 16px 0;
        }
    }
}